<!DOCTYPE html>
<html>

<head>
	<title>Dashboard | Restore
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<link rel='stylesheet' href='/assets/css/global.css' />
	<link rel='stylesheet' href='/assets/css/panel.css' />
	<script src='/assets/js/jquery-3.5.1.min.js'>
	</script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	<script src='/assets/js/login.js'>
	</script>
	<script src='/assets/js/ui.js'>
	</script>
		<script src='/assets/js/dash.js'>
	</script>
	<script src='/assets/js/account-editing-ui.js'>
	</script>
	<script src="https://kit.fontawesome.com/69f29a0b67.js" crossorigin="anonymous">
	</script>
</head>

<body>
	<div id='main-container'>
		<div id='sidebar'>
			<div id='sidebar-title-container'>
				<h1 id='sidebar-title'>Restore
				</h1>
				<h2 id='sidebar-page-title'>Dashboard
				</h2>
			</div>
			<div id='sidebar-menu'>
				<div class='sidebar-menu-item active'>
					<i class="fas fa-chart-area sidebar-menu-item-icon">
					</i>
					<span class='sidebar-menu-item-title'>Dashboard
					</span>
					<i class="sidebar-menu-item-arrow fas fa-chevron-right">
					</i>
				</div>
				<div class='sidebar-menu-item'>
					<i class="fas fa-hdd sidebar-menu-item-icon">
					</i>
					<span class='sidebar-menu-item-title'>Backups
					</span>
					<i class="sidebar-menu-item-arrow fas fa-chevron-right">
					</i>
				</div>
				<div class='sidebar-menu-item'>
					<i class="fas fa-industry sidebar-menu-item-icon">
					</i>
					<span class='sidebar-menu-item-title'>Automations
					</span>
					<i class="sidebar-menu-item-arrow fas fa-chevron-right">
					</i>
				</div>
				<div class='sidebar-menu-item'>
					<i class="fas fa-toilet-paper sidebar-menu-item-icon">
					</i>
					<span class='sidebar-menu-item-title'>Logs
					</span>
					<i class="sidebar-menu-item-arrow fas fa-chevron-right">
					</i>
				</div>
				<div class='sidebar-menu-item'>
					<i class="fas fa-users-cog sidebar-menu-item-icon">
					</i>
					<span class='sidebar-menu-item-title'>Users
					</span>
					<i class="sidebar-menu-item-arrow fas fa-chevron-right">
					</i>
				</div>
				<div class='sidebar-menu-item'>
					<i class="fas fa-users sidebar-menu-item-icon">
					</i>
					<span class='sidebar-menu-item-title'>User Groups
					</span>
					<i class="sidebar-menu-item-arrow fas fa-chevron-right">
					</i>
				</div>
				<div class='sidebar-menu-item'>
					<i class="fas fa-cogs sidebar-menu-item-icon">
					</i>
					<span class='sidebar-menu-item-title'>Settings
					</span>
					<i class="sidebar-menu-item-arrow fas fa-chevron-right">
					</i>
				</div>
			</div>
			<div id='sidebar-account-container'>
				<img id='sidebar-account-avatar' src='/api/user/cookie/picture' />
				<div id='sidebar-account-details'>
					<span id='sidebar-account-name'>{{user_first_name}} {{user_last_name}}
					</span>
					<span id='sidebar-account-role'>{{user_role}}
					</span>
					<a id='sidebar-account-edit-link'>Edit Account
					</a>
				</div>
			</div>
		</div>
		<div id='sidebar-minimize-container'>
			<div id="sidebar-minimize-button">
				<i id='sidebar-minimize-icon' class="fas fa-chevron-left">
				</i>
			</div>
		</div>
		<div id='content'>
			<div class='floating-container' id='dashboard-path-container'>
				<span class='dashboard-path-node'>Restore
				</span>
				<span class='dashboard-path-slash'>/
				</span>
				<span class='dashboard-path-node'>Dashboard
				</span>
			</div>
			<div class='container-row'>
				<div class='floating-container card stat-card' id='disk-usage-tile'>
					<span class='card-title'>Usage of
						<b>/
						</b>
					</span>
					<div class='stat-card-content'>
						<i class="fas fa-hdd stat-card-icon">
						</i>
						<div class='stat-card-values'>
							<span class='stat-card-value'>
								<b>12.48GB
								</b> of
								<b>25GB
								</b>
							</span>
							<span class='stat-card-subvalue'>48.3% Occupied
							</span>
						</div>
					</div>
				</div>
				<div class='floating-container card stat-card' id='cpu-usage-tile'>
					<span class='card-title'>CPU Usage
					</span>
					<div class='stat-card-content'>
						<i class="fas fa-microchip stat-card-icon">
						</i>
						<div class='stat-card-values'>
							<span class='stat-card-value'>

							</span>
							<span class='stat-card-subvalue'>
							</span>
						</div>
					</div>
				</div>
				<div class='floating-container card stat-card' id='ram-usage-tile'>
					<span class='card-title'>RAM Usage
					</span>
					<div class='stat-card-content'>
						<i class="fas fa-memory stat-card-icon">
						</i>
						<div class='stat-card-values'>
							<span class='stat-card-value'>
							</span>
							<span class='stat-card-subvalue'>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class='floating-container card chart-card' id='resource-usage-tile'>
				<span class='card-title'>Live usage of system resources
				</span>
				<div class='stat-card-content'>
					<canvas id="chartjs-0" class="chartjs" width="770" height="350"
						style="display: block; width: 770px; height: 350px;">
					</canvas>
					<script>
						lineGraph = new Chart(document.getElementById("chartjs-0"),
							{
								"type": "line",
								"data": {
									"labels": [],
									"datasets": [
										{
											"label": "CPU Load (%)",
											"data": [65, 59, 80, 65, 59, 80, 81, 56, 55, 40, 81, 56, 55, 40],
											"fill": false, "borderColor": "rgb(75, 192, 192)",
											"lineTension": 1
										}
									]
								}
								, "options": {
									"maintainAspectRatio":false,
									"tooltips" : {
										"position":"nearest",
										"mode":"index"
									},
									hover: {
										mode: 'label'
									},
									scales: {
										xAxes: [{
												display: true,
												scaleLabel: {
													display: true,
													labelString: 'Time'
												}
											}],
										yAxes: [{
												display: true,
												scaleLabel: {
													display: true,
													labelString: 'Load Percentage'
												},
												ticks: {
													beginAtZero: true,
													steps: 5,
													stepValue: 25,
													max: 100
												}
											}]
									}
								}
							}
						);
					</script>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function () {
			$("#sidebar-minimize-button").click(function () {
				$("#sidebar").toggleClass("minimized")
				$("#sidebar-minimize-icon").toggleClass("fa-chevron-left").toggleClass("fa-chevron-right")
			}
			)
		}
		)
	</script>
</body>

</html>