#content {
  display: flex;
  align-items: center;
  padding: 0 200px;
}
.floating-container {
  background: #262626;
  flex-grow: 0;
  box-shadow: #000 15px 15px 50px;
  text-align: center;
  border-radius: 10px;
}

.floating-container h2 {
  color: #ccc;
  margin: 20px 0 10px;
}

.floating-container p {
  margin: 0 0 25px;
}

.floating-container b {
  color: #ccc;
}

.small-print {
  padding: 0;
  font-size: 15px;
  text-align: left;
}

p, input:not([type='submit']) {
  color: #808080;
  padding: 0px 10px;
}

input[type='submit'] {
  color: #cccccc;
}

.auth-container {
  width: 400px;
  height: 600px;
  padding: 15px 40px;
}

.floating-container, .floating-container form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  font-size: 15px;
  color: #808080;
}

.input-container {
  display: flex;
}

.input-container i {
  line-height: 50px;
  padding: 0px;
  font-size: 23px;
  padding-left: 10px;
  color: #808080;
}

.input-container input {
  background: none;
  width: 100%;
  font-size: 16px;
  border:none;
}

.input-container, input[type='submit'] {
  border: #b52a2a 1px solid;
  background: #1a1a1a;
  margin-bottom: 25px;
}

input {
  height: 50px;
}

input[type='submit'] {
  background: #b52a2a;
}

input[type='submit']:hover {
  transition: background 0.05s ease-in-out;
  background: #5b0404;
  border-color: #5b0404;
}

@media only screen and (max-width: 880px) {
  #content {
    padding: 0px;
  }

  .auth-container {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .auth-container {
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    background: none;
  }
}
