<!DOCTYPE html>
<html>
<head>
  <title>404 | Restore</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <link rel='stylesheet' href='/assets/css/global.css' />
  <link rel='stylesheet' href='/assets/css/dialog.css' />
  <script src='/assets/js/jquery-3.5.1.min.js'></script>
  <script src='/assets/js/login.js'></script>
  <script src="https://kit.fontawesome.com/69f29a0b67.js" crossorigin="anonymous"></script>
</head>
<body>
  <div id='content'>
    <div class='floating-container error-container'>
      <h2 id='error-code'>404</h2>
      <p id='error-message'>The page you requested wasn't found</p>
    </div>
  </div>
</body>
</html>
