<html>
    <h1>Test</h1>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io();
        const token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI1ZjZhNWRmNWRhODAzZTE5ZDIzNzYzNDciLCJpYXQiOjE2MDE3NjQwNDR9.1ZaMUD9K629Ic6zOQ4HBWMMk67DKAXI5CMlKLepEaqA"
        socket.on("Error", error => {
            console.log(error)
        })
        socket.on("Update", update => {
            console.log(update)
        })
        socket.emit("create_backup", {
            auth: token
        });
    </script>
</html>